@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 255;
  }
}


.easy-button {
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  background-color: #467846;
  font: bold;
  margin-left:40px;

}

.easy-button:hover {
  background-color: #264526;
}

.btn-base {
  @apply font-bold py-2 px-6 rounded-xl ml-10;
}

.buton-blue{
  @apply bg-blue-400 text-white btn-base;
}

.buton-blue:hover{
  @apply bg-blue-700
}